/*------------------------------------*\
  #INDEX
\*------------------------------------*/

$gutter : 1rem;

.index__list {
  width: 100%;
}

.index__item {
  display: inline-block;
  width: 20%;
  padding-left: $gutter;
  padding-right: $gutter;
}
