/*------------------------------------*\
  #INDEX
\*------------------------------------*/


.index {
  margin-left: -$spacing-xxl;
}

.index__list {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  list-style: none;
}

.index__item {
  padding-left: $spacing-xxl;
  margin-bottom: $spacing-xxl;
  width: percentage(12/12);
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    width: percentage(6/12);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: percentage(4/12);
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: percentage(3/12);
  }
  @media (min-width: $screen-lg-min) {
    width: 400px;
  }
}
